mixin cards
    .cards
        img.cards__back1(src="./img/back.png", alt="")
        img.cards__back2(src="./img/back.png", alt="")
        img.cards__back3(src="./img/back.png", alt="")
        img.cards__back4(src="./img/back.png", alt="")
        img.cards__back5(src="./img/back.png", alt="")
        img.cards__back6(src="./img/back.png", alt="")
        img.cards__back7(src="./img/back.png", alt="")
        img.cards__back8(src="./img/back.png", alt="")
        img.cards__back9(src="./img/back.png", alt="")
        img.cards__back10(src="./img/back.png", alt="")
        img.cards__back11(src="./img/back.png", alt="")
        img.cards__back12(src="./img/back.png", alt="")
        img.cards__back13(src="./img/back.png", alt="")
        img.cards__back14(src="./img/back.png", alt="")
        img.cards__back15(src="./img/back.png", alt="")
        img.cards__back16(src="./img/back.png", alt="")
        img.cards__back17(src="./img/back.png", alt="")
        img.cards__back18(src="./img/back.png", alt="")
        img.cards__back19(src="./img/back.png", alt="")
        img.cards__back20(src="./img/back.png", alt="")
        img.cards__back21(src="./img/back.png", alt="")
        img.cards__back22(src="./img/back.png", alt="")
        img.cards__back23(src="./img/back.png", alt="")
        img.cards__back24(src="./img/back.png", alt="")
        img.cards__back25(src="./img/back.png", alt="")
        img.cards__back26(src="./img/back.png", alt="")
        img.cards__back27(src="./img/back.png", alt="")
        img.cards__back28(src="./img/back.png", alt="")
        img.cards__back29(src="./img/back.png", alt="")
        img.cards__back30(src="./img/back.png", alt="")
        img.cards__back31(src="./img/back.png", alt="")
        img.cards__back32(src="./img/back.png", alt="")
        img.cards__back33(src="./img/back.png", alt="")
        img.cards__back34(src="./img/back.png", alt="")
        img.cards__back35(src="./img/back.png", alt="")
        img.cards__back(src="./img/back.png", alt="")  
        img.cards__joker(src="./img/Joker.png", alt="")
          
            