mixin cards
    .container
        .cards
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/6_of_clubs.png", alt="")
            .cards__box    
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/6_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/6_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/6_of_spades.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/7_of_clubs.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/7_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/7_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/7_of_spades.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/8_of_clubs.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/8_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/8_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/8_of_spades.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/9_of_clubs.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/9_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/9_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/9_of_spades.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/10_of_clubs.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/10_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/10_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/10_of_spades.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/jack_of_clubs2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/jack_of_diamonds2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/jack_of_hearts2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/jack_of_spades2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/queen_of_clubs2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/queen_of_diamonds2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/queen_of_hearts2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")    
                img.box__img(src="./img/queen_of_spades2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/king_of_clubs2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/king_of_diamonds2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/king_of_hearts2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/king_of_spades2.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/ace_of_clubs.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/ace_of_diamonds.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")
                img.box__img(src="./img/ace_of_hearts.png", alt="")
            .cards__box
                img.box__front(src="./img/back.png", alt="")             
                img.box__img(src="./img/ace_of_spades2.png", alt="")
            
            