.container {
    max-width:  1110px;
}
.cards {
    
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    width: 137px;
}


.box {
    position: relative;
    grid-area: 1 / 1 / 7 / 7;

    
    &__img {
        height: 200px;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: 1s;
    }

    &__front {
        position: absolute;
        height: 200px;
        width: 137px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: 1s;
        border-radius: 5px;
    }
}

.cards__box:hover .box__front {
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    
}


.cards__box:hover .box__img {
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    transition: 1s;
}
